.banner{

    &--design-1{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/sample3.jpg');
        @extend %bg-image;
        height: 100vh;
    }

    &--design-2{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/sample3.jpg');
        @extend %bg-image;
        height: 40vh;
    }

    &-info{
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        text-align: center;
        color: $color-white;
        width: 100%;
        height: auto;
    }

}
