.pager{

    &--design-1{      
        background-color: transparent;
        border: none;
        color: $color-brand;
        font-weight: bold;
        margin: 0;
        float: right;
        li>a{
            @include pager($color-brand, $color-grey-dark, $color-brand);
            &.active{
                color: $color-grey-dark;
            }
        }
        .separator{
            color: $color-grey-dark;
        }
    }

    &--design-2{
        li>a{
            display: inline-block;
            padding: 5px 14px;
            background-color: transparent;
            border: none;
            @include pager($color-brand, $color-grey-dark, $color-brand);
            &.active{
                color: $color-grey-dark;
            }
        }
    }

}
