.slider{
    margin-bottom: 20px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel{
    .carousel-inner {        
    .fill {
        background-image: url("/images/sample4.jpg");
        width: 50%;
        height: 200px;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        display: relative;
        float: left;
        @include breakpoint(sm) {
            width: 100%;
        }
        @include breakpoint(xs) {
            width: 100%;
        }

        }
        .fill-2 {
            background-color: $color-brand;
            width: 50%;
            height: 200px;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            display: relative;
            float: right;
            @include breakpoint(sm) {
                width: 100%;
            }
            @include breakpoint(xs) {
                width: 100%;
            }
            &--caption{
                color: $color-white;
                padding: 20px;
            }
    
        }
    }
    
    .carousel-control{
        position: absolute;
        top: 88%;
        bottom: 100%;
        width: 95%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        opacity: 1;
        @include breakpoint(sm) {
            top: 44%;
        }
        @include breakpoint(sm) {
            top: 44%;
        }
        .icon-next, {
            left: -1%;
            background-color: $color-brand;
        
        } 

        .icon-prev{
            left: 2%;
            background-color: $color-brand;
     
        }

    }
}
