.header{
    padding: 30px;
    // padding-left: 0;
    width: 100%;
    position: absolute;
    z-index: 999;

    &--left{
        vertical-align: middle;
        float: left;
    }

    &--right{
        vertical-align: middle;
        float: right;
        margin-right: 100px;
        @include breakpoint(xs){
            float: none;
            display: inline;
        }
    }
  
    &-logo{
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        display: inline;
    }
}